In [2]:
import pandas as pd

## DATAFRAME

In [3]:
df_BANK_marketing = pd.read_csv("df_BANK_marketing_Sprint2.csv")
df_BANK_marketing

,id,age,job,marital,education,is_in_default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,balance_normalizado,estado_balance
0,1,59.0,admin.,married,secondary,0,2343,1,0,unknown,5,may,1042,1,-1,0,unknown,1,0.246103,Saldo Alto
1,2,59.0,admin.,married,secondary,0,2343,1,0,unknown,5,may,1042,1,-1,0,unknown,1,0.246103,Saldo Alto
2,3,56.0,admin.,married,secondary,0,45,0,0,unknown,5,may,1467,1,-1,0,unknown,1,-0.445637,Saldo Bajo
3,4,41.0,technician,married,secondary,0,1270,1,0,unknown,5,may,1389,1,-1,0,unknown,1,-0.076890,Saldo Medio Alto
4,5,55.0,services,married,secondary,0,2476,1,0,unknown,5,may,579,1,-1,0,unknown,1,0.286138,Saldo Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16158,21379,80.0,retired,married,secondary,0,8304,0,0,telephone,9,jun,712,1,64,12,failure,1,2.040471,Saldo Muy Alto
16159,21380,30.0,unemployed,divorced,secondary,0,7105,0,0,cellular,22,dec,321,2,-1,0,unknown,1,1.679550,Saldo Muy Alto
16160,21381,33.0,entrepreneur,single,secondary,0,278,0,0,cellular,1,feb,563,5,-1,0,unknown,1,-0.375500,Saldo Medio
16161,21382,57.0,technician,married,primary,0,3376,1,0,telephone,2,jun,421,2,-1,0,unknown,1,0.557054,Saldo Alto
16162,21383,28.0,management,single,tertiary,0,41,1,0,cellular,15,may,885,3,352,2,other,1,-0.446841,Saldo Bajo

## 1) KPI Conversion Deposito

In [4]:
deposito=df_BANK_marketing['deposit']
df_deposito=pd.DataFrame(deposito, columns=['deposit']).reset_index()
df_deposito
conversion_deposito = (df_deposito[df_deposito['deposit']==1].count()/df_deposito['deposit'].count())*100
conversion_deposito.round(2)

index      47.4
deposit    47.4
dtype: float64

## 2) Promedio de la duraciÃ³n de las llamadas de los suscriptores

In [5]:
## nÃºmero de suscriptores
suscriptores = df_BANK_marketing[df_BANK_marketing['deposit']==1]
num_suscriptores = suscriptores[['duration']].count()
num_suscriptores

duration    7662
dtype: int64

In [6]:
## sumatorio de la duracion de las  llamadas hechas a suscriptores
sumatorio_duracion_llamadas = suscriptores['duration'].sum().round(2)
sumatorio_duracion_llamadas

np.int64(4113036)

In [7]:
## promedio de las llamadas a suscriptores
promedio_llamadas_suscriptores = (sumatorio_duracion_llamadas/num_suscriptores).round(2)
promedio_llamadas_suscriptores

duration    536.81
dtype: float64

## 3) Porcentage de llamadas a telÃ©fono fijo o a mÃ³vil

In [8]:
## nÃºmero de llamadas a mÃ³vil y telÃ©fono
contacto = df_BANK_marketing['contact']
contacto.count()
df_contacto=pd.DataFrame(contacto, columns=['contact']).reset_index()
df_contacto
llamadas = df_contacto[(df_contacto['contact'] == 'cellular')|(df_contacto['contact'] == 'telephone')].count()
llamadas

index      12779
contact    12779
dtype: int64

In [9]:
porcentage = ((llamadas/(contacto.count()))*100).round(2)
porcentage

index      79.06
contact    79.06
dtype: float64

## 4) Promedio de contactos previos de suscriptores

In [10]:
## sumatorio del nÃºmero de contactos previos de suscriptores
previous = df_BANK_marketing[['previous']].sum()
previous

previous    13422
dtype: int64

In [11]:
suscriptores[['previous']].count()

previous    7662
dtype: int64

In [12]:
promedio_contactos_previos = (df_BANK_marketing[['previous']].sum())/(suscriptores[['previous']].count())
promedio_contactos_previos.round(2)

previous    1.75
dtype: float64

## 5) Mes con mayor tasa de conversiÃ³n

In [13]:
df_BANK_marketing[['month','campaign', 'deposit']]

      month  campaign  deposit
0       may         1        1
1       may         1        1
2       may         1        1
3       may         1        1
4       may         1        1
...     ...       ...      ...
16158   jun         1        1
16159   dec         2        1
16160   feb         5        1
16161   jun         2        1
16162   may         3        1

[16163 rows x 3 columns]

In [14]:
## NÃºmero de suscriptores en el mes
num_susc = df_BANK_marketing.groupby(['month']).deposit.sum().sort_values(ascending=False)
df_num_susc = pd.DataFrame(num_susc, columns =['deposit']).reset_index()
df_num_susc = df_num_susc.rename(columns = {'deposit':'num_suscriptores'})
df_num_susc

   month  num_suscriptores
0    may              1336
1    aug               995
2    jul               916
3    apr               833
4    jun               781
5    feb               655
6    nov               585
7    oct               464
8    sep               389
9    mar               360
10   jan               199
11   dec               149

In [15]:
# NÃºmero de clientes contactados en el mes
num_cliente_cont = df_BANK_marketing.groupby(['month']).deposit.count().sort_values(ascending=False)
df_num_cliente_cont = pd.DataFrame(num_cliente_cont, columns =['deposit']).reset_index()
df_num_cliente_cont = df_num_cliente_cont.rename(columns = {'deposit':'num_clientes_cont'})
df_num_cliente_cont

   month  num_clientes_cont
0    may               4091
1    jul               2234
2    aug               2197
3    jun               1750
4    nov               1349
5    apr               1335
6    feb               1126
7    oct                562
8    jan                489
9    sep                465
10   mar                401
11   dec                164

In [16]:
## concatenar las dos tablas
concatenar = pd.merge(df_num_susc,df_num_cliente_cont, on='month')
concatenar['dividir'] = ((concatenar['num_suscriptores']/concatenar['num_clientes_cont'])*100).round(2)
df_ordenar = concatenar.sort_values(by='dividir', ascending=False)
df_ordenar.head(1)

   month  num_suscriptores  num_clientes_cont  dividir
11   dec               149                164    90.85