# Sprint3. Analistes del Perfil del Client: 
#### Quines combinacions de característiques demogràfiques (com edat, nivell educatiu i ocupació) són més comunes entre els clients que utilitzen múltiples productes financers del banc: lloen, hipoteca, dipòsit?

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-18.1.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-18.1.0-cp311-cp311-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.1 MB 1.4 MB/s eta 0:00:19
   ---------------------------------------- 0.0/25.1 MB 393.8 kB/s eta 0:01:04
   ---------------------------------------- 0.1/25.1 MB 751.6 kB/s eta 0:00:34
   ---------------------------------------- 0.1/25.1 MB 853.3 kB/s eta 0:00:30
   ---------------------------------------- 0.1/25.1 MB 853.3 kB/s eta 0:00:30
   ---------------------------------------- 0.1/25.1 MB 853.3 kB/s eta 0:00:30
   ---------------------------------------- 0.3/25.1 MB 853.3 kB/s eta 0:00:30
   ---------------------------------------- 0.3/25.1 MB 853.3 kB/s eta 0:00:30
    --------------------------------------- 0.4/25.1 MB 882.8 kB/s eta 0:00:29
    --------------------------------------- 0.4/25.1 MB 897.8 kB/s eta 0:00:28
    --------------------------------------- 0.5/25.1 MB 880.6 kB/s eta 0:00:29
    --------------------------------------- 0.5/25.1 MB 994.2 kB/s eta 0:00:25
    --------------------------------------- 0.5/25.1 MB 879.2 kB/s eta 0:00:28
   - -------------------------------------- 0.7/25.1 MB 1.0 MB/s eta 0:00:24
   - -------------------------------------- 0.7/25.1 MB 1.0 MB/s eta 0:00:24
   - -------------------------------------- 0.8/25.1 MB 1.1 MB/s eta 0:00:23
   - -------------------------------------- 0.8/25.1 MB 1.1 MB/s eta 0:00:23
   - -------------------------------------- 0.9/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.0/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.0/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.0/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.0/25.1 MB 998.8 kB/s eta 0:00:25
   - -------------------------------------- 1.1/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.1/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.2/25.1 MB 1.1 MB/s eta 0:00:23
   - -------------------------------------- 1.2/25.1 MB 1.1 MB/s eta 0:00:23
   -- ------------------------------------- 1.4/25.1 MB 1.1 MB/s eta 0:00:22
   -- ------------------------------------- 1.4/25.1 MB 1.1 MB/s eta 0:00:22
   -- ------------------------------------- 1.5/25.1 MB 1.1 MB/s eta 0:00:21
   -- ------------------------------------- 1.6/25.1 MB 1.1 MB/s eta 0:00:21
   -- ------------------------------------- 1.6/25.1 MB 1.1 MB/s eta 0:00:21
   -- ------------------------------------- 1.6/25.1 MB 1.1 MB/s eta 0:00:21
   -- ------------------------------------- 1.6/25.1 MB 1.1 MB/s eta 0:00:22
   -- ------------------------------------- 1.7/25.1 MB 1.1 MB/s eta 0:00:22
   -- ------------------------------------- 1.7/25.1 MB 1.1 MB/s eta 0:00:22
   -- ------------------------------------- 1.9/25.1 MB 1.1 MB/s eta 0:00:21
   --- ------------------------------------ 2.0/25.1 MB 1.2 MB/s eta 0:00:21
   --- ------------------------------------ 2.1/25.1 MB 1.2 MB/s eta 0:00:20
   --- ------------------------------------ 2.2/25.1 MB 1.2 MB/s eta 0:00:19
   --- ------------------------------------ 2.3/25.1 MB 1.2 MB/s eta 0:00:19
   --- ------------------------------------ 2.4/25.1 MB 1.3 MB/s eta 0:00:18
   --- ------------------------------------ 2.5/25.1 MB 1.3 MB/s eta 0:00:18
   ---- ----------------------------------- 2.6/25.1 MB 1.3 MB/s eta 0:00:18
   ---- ----------------------------------- 2.7/25.1 MB 1.3 MB/s eta 0:00:17
   ---- ----------------------------------- 2.8/25.1 MB 1.3 MB/s eta 0:00:17
   ---- ----------------------------------- 2.9/25.1 MB 1.4 MB/s eta 0:00:17
   ---- ----------------------------------- 3.0/25.1 MB 1.4 MB/s eta 0:00:16
   ----- ---------------------------------- 3.1/25.1 MB 1.4 MB/s eta 0:00:16
   ----- ---------------------------------- 3.2/25.1 MB 1.4 MB/s eta 0:00:16
   ----- ---------------------------------- 3.3/25.1 MB 1.4 MB/s eta 0:00:16
   ----- ---------------------------------- 3.4/25.1 MB 1.4 MB/s eta 0:00:16
   ----- ---------------------------------- 3.5/25.1 MB 1.5 MB/s eta 0:00:15
   ----- ---------------------------------- 3.6/25.1 MB 1.5 MB/s eta 0:00:15
   ----- ---------------------------------- 3.7/25.1 MB 1.5 MB/s eta 0:00:15
   ------ --------------------------------- 3.8/25.1 MB 1.5 MB/s eta 0:00:15
   ------ --------------------------------- 3.9/25.1 MB 1.5 MB/s eta 0:00:15
   ------ --------------------------------- 4.0/25.1 MB 1.5 MB/s eta 0:00:14
   ------ --------------------------------- 4.0/25.1 MB 1.5 MB/s eta 0:00:14
   ------ --------------------------------- 4.2/25.1 MB 1.5 MB/s eta 0:00:14
   ------ --------------------------------- 4.3/25.1 MB 1.5 MB/s eta 0:00:14
   ------ --------------------------------- 4.3/25.1 MB 1.5 MB/s eta 0:00:14
   ------- -------------------------------- 4.4/25.1 MB 1.6 MB/s eta 0:00:14
   ------- -------------------------------- 4.5/25.1 MB 1.6 MB/s eta 0:00:14
   ------- -------------------------------- 4.6/25.1 MB 1.6 MB/s eta 0:00:14
   ------- -------------------------------- 4.8/25.1 MB 1.6 MB/s eta 0:00:13
   ------- -------------------------------- 4.9/25.1 MB 1.6 MB/s eta 0:00:13
   -------- ------------------------------- 5.1/25.1 MB 1.6 MB/s eta 0:00:13
   -------- ------------------------------- 5.2/25.1 MB 1.6 MB/s eta 0:00:13
   -------- ------------------------------- 5.3/25.1 MB 1.6 MB/s eta 0:00:13
   -------- ------------------------------- 5.4/25.1 MB 1.7 MB/s eta 0:00:12
   -------- ------------------------------- 5.5/25.1 MB 1.7 MB/s eta 0:00:12
   -------- ------------------------------- 5.5/25.1 MB 1.7 MB/s eta 0:00:12
   -------- ------------------------------- 5.6/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 5.7/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 5.7/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 5.9/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 6.0/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 6.0/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 6.1/25.1 MB 1.7 MB/s eta 0:00:12
   --------- ------------------------------ 6.2/25.1 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 6.3/25.1 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 6.4/25.1 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 6.5/25.1 MB 1.7 MB/s eta 0:00:12
   ---------- ----------------------------- 6.6/25.1 MB 1.7 MB/s eta 0:00:11
   ---------- ----------------------------- 6.7/25.1 MB 1.7 MB/s eta 0:00:11
   ---------- ----------------------------- 6.7/25.1 MB 1.7 MB/s eta 0:00:11
   ---------- ----------------------------- 6.8/25.1 MB 1.7 MB/s eta 0:00:11
   ---------- ----------------------------- 6.9/25.1 MB 1.7 MB/s eta 0:00:11
   ----------- ---------------------------- 7.0/25.1 MB 1.7 MB/s eta 0:00:11
   ----------- ---------------------------- 7.1/25.1 MB 1.7 MB/s eta 0:00:11
   ----------- ---------------------------- 7.2/25.1 MB 1.7 MB/s eta 0:00:11
   ----------- ---------------------------- 7.3/25.1 MB 1.7 MB/s eta 0:00:11
   ----------- ---------------------------- 7.4/25.1 MB 1.7 MB/s eta 0:00:11
   ------------ --------------------------- 7.6/25.1 MB 1.7 MB/s eta 0:00:11
   ------------ --------------------------- 7.7/25.1 MB 1.7 MB/s eta 0:00:11
   ------------ --------------------------- 7.8/25.1 MB 1.8 MB/s eta 0:00:10
   ------------ --------------------------- 7.9/25.1 MB 1.8 MB/s eta 0:00:10
   ------------ --------------------------- 8.0/25.1 MB 1.8 MB/s eta 0:00:10
   ------------ --------------------------- 8.1/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.2/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.4/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.5/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.6/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.7/25.1 MB 1.8 MB/s eta 0:00:10
   ------------- -------------------------- 8.8/25.1 MB 1.8 MB/s eta 0:00:10
   -------------- ------------------------- 8.9/25.1 MB 1.8 MB/s eta 0:00:09
   -------------- ------------------------- 9.0/25.1 MB 1.8 MB/s eta 0:00:09
   -------------- ------------------------- 9.1/25.1 MB 1.8 MB/s eta 0:00:09
   -------------- ------------------------- 9.2/25.1 MB 1.8 MB/s eta 0:00:09
   -------------- ------------------------- 9.3/25.1 MB 1.8 MB/s eta 0:00:09
   -------------- ------------------------- 9.4/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.4/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.5/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.5/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.6/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.6/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.7/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.8/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 9.9/25.1 MB 1.8 MB/s eta 0:00:09
   --------------- ------------------------ 10.0/25.1 MB 1.8 MB/s eta 0:00:09
   ---------------- ----------------------- 10.1/25.1 MB 1.8 MB/s eta 0:00:09
   ---------------- ----------------------- 10.1/25.1 MB 1.8 MB/s eta 0:00:09
   ---------------- ----------------------- 10.3/25.1 MB 1.8 MB/s eta 0:00:09
   ---------------- ----------------------- 10.4/25.1 MB 1.9 MB/s eta 0:00:08
   ---------------- ----------------------- 10.5/25.1 MB 1.9 MB/s eta 0:00:08
   ---------------- ----------------------- 10.6/25.1 MB 1.9 MB/s eta 0:00:08
   ---------------- ----------------------- 10.6/25.1 MB 1.9 MB/s eta 0:00:08
   ----------------- ---------------------- 10.7/25.1 MB 1.9 MB/s eta 0:00:08
   ----------------- ---------------------- 10.9/25.1 MB 1.9 MB/s eta 0:00:08
   ----------------- ---------------------- 11.0/25.1 MB 1.9 MB/s eta 0:00:08
   ----------------- ---------------------- 11.1/25.1 MB 2.0 MB/s eta 0:00:08
   ----------------- ---------------------- 11.2/25.1 MB 1.9 MB/s eta 0:00:08
   ----------------- ---------------------- 11.3/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.4/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.5/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.6/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.7/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.8/25.1 MB 2.0 MB/s eta 0:00:07
   ------------------ --------------------- 11.9/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.0/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.1/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.1/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.2/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.3/25.1 MB 2.1 MB/s eta 0:00:07
   ------------------- -------------------- 12.5/25.1 MB 2.1 MB/s eta 0:00:07
   -------------------- ------------------- 12.6/25.1 MB 2.1 MB/s eta 0:00:07
   -------------------- ------------------- 12.7/25.1 MB 2.1 MB/s eta 0:00:06
   -------------------- ------------------- 12.8/25.1 MB 2.1 MB/s eta 0:00:06
   -------------------- ------------------- 12.9/25.1 MB 2.1 MB/s eta 0:00:06
   -------------------- ------------------- 13.0/25.1 MB 2.1 MB/s eta 0:00:06
   -------------------- ------------------- 13.1/25.1 MB 2.1 MB/s eta 0:00:06
   --------------------- ------------------ 13.2/25.1 MB 2.1 MB/s eta 0:00:06
   --------------------- ------------------ 13.3/25.1 MB 2.1 MB/s eta 0:00:06
   --------------------- ------------------ 13.4/25.1 MB 2.1 MB/s eta 0:00:06
   --------------------- ------------------ 13.5/25.1 MB 2.1 MB/s eta 0:00:06
   --------------------- ------------------ 13.7/25.1 MB 2.1 MB/s eta 0:00:06
   ---------------------- ----------------- 13.8/25.1 MB 2.1 MB/s eta 0:00:06
   ---------------------- ----------------- 14.0/25.1 MB 2.1 MB/s eta 0:00:06
   ---------------------- ----------------- 14.1/25.1 MB 2.1 MB/s eta 0:00:06
   ---------------------- ----------------- 14.2/25.1 MB 2.1 MB/s eta 0:00:06
   ---------------------- ----------------- 14.3/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 14.5/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 14.6/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 14.7/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 14.8/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 14.9/25.1 MB 2.2 MB/s eta 0:00:05
   ----------------------- ---------------- 15.0/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.2/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.3/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.3/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.4/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.6/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------ --------------- 15.7/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 15.8/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 15.9/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 16.0/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 16.1/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 16.1/25.1 MB 2.2 MB/s eta 0:00:05
   ------------------------- -------------- 16.3/25.1 MB 2.2 MB/s eta 0:00:05
   -------------------------- ------------- 16.4/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.5/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.6/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.7/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.8/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.8/25.1 MB 2.2 MB/s eta 0:00:04
   -------------------------- ------------- 16.9/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.0/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.2/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.3/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.4/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.5/25.1 MB 2.2 MB/s eta 0:00:04
   --------------------------- ------------ 17.6/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 17.6/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 17.8/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 17.8/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 17.9/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 17.9/25.1 MB 2.2 MB/s eta 0:00:04
   ---------------------------- ----------- 18.1/25.1 MB 2.2 MB/s eta 0:00:04
   ----------------------------- ---------- 18.3/25.1 MB 2.2 MB/s eta 0:00:04
   ----------------------------- ---------- 18.4/25.1 MB 2.2 MB/s eta 0:00:04
   ----------------------------- ---------- 18.5/25.1 MB 2.2 MB/s eta 0:00:04
   ----------------------------- ---------- 18.7/25.1 MB 2.2 MB/s eta 0:00:03
   ----------------------------- ---------- 18.8/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------ --------- 18.9/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------ --------- 19.0/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------ --------- 19.0/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------ --------- 19.3/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------ --------- 19.4/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------- -------- 19.5/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------- -------- 19.6/25.1 MB 2.2 MB/s eta 0:00:03
   ------------------------------- -------- 19.7/25.1 MB 2.3 MB/s eta 0:00:03
   ------------------------------- -------- 19.8/25.1 MB 2.3 MB/s eta 0:00:03
   ------------------------------- -------- 19.9/25.1 MB 2.3 MB/s eta 0:00:03
   ------------------------------- -------- 20.0/25.1 MB 2.3 MB/s eta 0:00:03
   -------------------------------- ------- 20.1/25.1 MB 2.3 MB/s eta 0:00:03
   -------------------------------- ------- 20.2/25.1 MB 2.3 MB/s eta 0:00:03
   -------------------------------- ------- 20.4/25.1 MB 2.3 MB/s eta 0:00:03
   -------------------------------- ------- 20.5/25.1 MB 2.3 MB/s eta 0:00:03
   -------------------------------- ------- 20.6/25.1 MB 2.3 MB/s eta 0:00:02
   -------------------------------- ------- 20.7/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 20.8/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 20.9/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 21.0/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 21.1/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 21.2/25.1 MB 2.3 MB/s eta 0:00:02
   --------------------------------- ------ 21.3/25.1 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.5/25.1 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.6/25.1 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.7/25.1 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.8/25.1 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.9/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.0/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.1/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.2/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.3/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.4/25.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 22.5/25.1 MB 2.4 MB/s eta 0:00:02
   ------------------------------------ --- 22.7/25.1 MB 2.4 MB/s eta 0:00:02
   ------------------------------------ --- 22.8/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 22.9/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 23.0/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 23.1/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 23.2/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.3/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.4/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.5/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.5/25.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 23.7/25.1 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 23.7/25.1 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 23.9/25.1 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 24.0/25.1 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 24.0/25.1 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 24.1/25.1 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 24.2/25.1 MB 2.3 MB/s eta 0:00:01

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\34622\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [25]:
df_BANK_marketing = pd.read_parquet('S3_df_BANK_marketing.parquet')

In [26]:
df_BANK_marketing

,id,age,job,marital,education,is_in_default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,balance_normalizado,estado_balance
0,1,59.0,admin.,married,secondary,0.0,2343,1,0,unknown,5,may,1042,1,-1,0,unknown,1,0.251390,Saldo Alto
1,2,59.0,admin.,married,secondary,0.0,2343,1,0,unknown,5,may,1042,1,-1,0,unknown,1,0.251390,Saldo Alto
2,3,56.0,admin.,married,secondary,0.0,45,0,0,unknown,5,may,1467,1,-1,0,unknown,1,-0.446981,Saldo Bajo
3,4,41.0,technician,married,secondary,0.0,1270,1,0,unknown,5,may,1389,1,-1,0,unknown,1,-0.074698,Saldo Medio Alto
4,5,55.0,services,married,secondary,0.0,2476,1,0,unknown,5,may,579,1,-1,0,unknown,1,0.291810,Saldo Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26174,26384,60.0,retired,married,primary,0.0,71,0,0,cellular,10,jul,121,3,-1,0,unknown,0,-0.439079,Saldo Bajo
26175,26388,47.0,blue-collar,married,secondary,0.0,802,1,1,cellular,12,may,289,2,-1,0,unknown,1,-0.216925,Saldo Medio Alto
26176,26389,40.0,admin.,married,secondary,0.0,1327,1,1,unknown,26,may,76,2,-1,0,unknown,0,-0.057376,Saldo Medio Alto
26177,26386,58.0,unemployed,single,tertiary,0.0,2094,0,0,cellular,1,jun,161,2,-1,0,unknown,0,0.175718,Saldo Alto
26178,26387,42.0,blue-collar,married,primary,0.0,2003,1,0,cellular,17,apr,177,3,-1,0,unknown,0,0.148063,Saldo Alto

In [27]:
cliente= df_BANK_marketing[['id', 'age', 'job', 'marital', 'education','is_in_default', 'housing', 'loan', 'deposit', 'balance']]
cliente

,id,age,job,marital,education,is_in_default,housing,loan,deposit,balance
0,1,59.0,admin.,married,secondary,0.0,1,0,1,2343
1,2,59.0,admin.,married,secondary,0.0,1,0,1,2343
2,3,56.0,admin.,married,secondary,0.0,0,0,1,45
3,4,41.0,technician,married,secondary,0.0,1,0,1,1270
4,5,55.0,services,married,secondary,0.0,1,0,1,2476
...,...,...,...,...,...,...,...,...,...,...
26174,26384,60.0,retired,married,primary,0.0,0,0,0,71
26175,26388,47.0,blue-collar,married,secondary,0.0,1,1,1,802
26176,26389,40.0,admin.,married,secondary,0.0,1,1,0,1327
26177,26386,58.0,unemployed,single,tertiary,0.0,0,0,0,2094
26178,26387,42.0,blue-collar,married,primary,0.0,1,0,0,2003

### APUNTES ESTADISTICOS
Variable resultado numérica: Usa una matriz de correlación para ver la relación con otras variables numéricas.
Variable resultado binaria y características categóricas: Aplica la prueba de Chi-cuadrado para evaluar relaciones significativas.
Variable resultado binaria y características numéricas: Utiliza una prueba t o ANOVA para comparar las medias de las variables numéricas entre las dos categorías de la variable binaria.

### HIPOTECA
### Influencia de variables en la contratación de hipotecas

### VARIABLE TRABAJO

In [28]:
# Variable numérica y variable binaria
# Example of the Student's t-test
from scipy.stats import ttest_ind
data1 = cliente['housing']
data2 = cliente['age']
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

## por el resultado no hay una influencia de la edad en la contratación de hipóteca

stat=-554.331, p=0.000
Probably different distributions

### VARIABLE JOB

In [29]:
tabla_job_housing = pd.crosstab(cliente['housing'], cliente['job'])

In [30]:
tabla_job_housing

job,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
housing,,,,,,,,,,,,
0,1401,1464,375,464,3507,1540,547,880,719,2214,556,168
1,1740,3084,392,180,2484,308,389,1326,120,2041,271,9

In [31]:
# Variable categórica y variable binaria
# Example of the Chi-Squared Test
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(tabla_job_housing)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')

## Según el resultado del test, existe una relación entre los diferentes trabajos y que tengan o no hipóteca

stat=2450.875, p=0.000
Probably dependent

### VARIABLE MARITAL

In [32]:
tabla_marital_housing = pd.crosstab(cliente['housing'], cliente['marital'])
tabla_marital_housing

marital  divorced  married  single
housing
0            1583     7637    4615
1            1443     7270    3631

In [33]:
# Variable categórica y variable binaria
# Example of the Chi-Squared Test
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(tabla_marital_housing)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')
	
## Según el resultado del test, existe una relación entre los diferentes estados civiles y que tengan o no hipóteca

stat=48.172, p=0.000
Probably dependent

### VARIABLE EDUCATION

In [34]:
tabla_education_housing = pd.crosstab(cliente['housing'], cliente['education'])
tabla_education_housing

education  primary  secondary  tertiary  unknown
housing
0             1778       6028      5256      773
1             1711       6821      3398      414

In [35]:
# Variable categórica y variable binaria
# Example of the Chi-Squared Test
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(tabla_marital_housing)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')
	
## Según el resultado del test, existe una relación entre los diferentes estudios y que tengan o no hipóteca

stat=48.172, p=0.000
Probably dependent

### VARIABLE is_in_default

In [36]:
tabla_impagos_housing = pd.crosstab(cliente['housing'], cliente['is_in_default'])
tabla_impagos_housing

is_in_default    0.0  1.0
housing
0              13640  195
1              12131  213

In [37]:
#  2 variableS binarias (dos variables categóricas)
# Example of the Chi-Squared Test
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(tabla_impagos_housing)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably independent')
else:
	print('Probably dependent')
	
## Según el resultado del test, no existe una relación entre los diferentes los impagos y que tengan o no hipóteca

stat=4.044, p=0.044
Probably dependent

### VARIABLE BALANCE

In [38]:
# Variable numérica y variable binaria
# Example of the Student's t-test
from scipy.stats import ttest_ind
data1 = cliente['housing']
data2 = cliente['balance']
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

## por el resultado no hay una influencia del balance en la contratación de hipóteca

stat=-74.509, p=0.000
Probably different distributions

### ANALISIS MULTIVARIANTE

In [39]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Convertir variable binaria a proporciones por grupo
cliente['housing_mean'] = cliente.groupby(['job', 'marital', 'education'])['housing'].transform('mean')

# Modelo ANOVA
modelo = ols('housing_mean ~ C(job) + C(marital) + C(education)', data=cliente).fit()
anova_results = anova_lm(modelo)

print(anova_results)

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\757918150.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['housing_mean'] = cliente.groupby(['job', 'marital', 'education'])['housing'].transform('mean')

                   df      sum_sq    mean_sq             F  PR(>F)
C(job)           11.0  610.731247  55.521022  11557.018083     0.0
C(marital)        2.0    8.323569   4.161784    866.299183     0.0
C(education)      3.0   23.902052   7.967351   1658.449537     0.0
Residual      26162.0  125.684755   0.004804           NaN     NaN

## LOAN

In [40]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Convertir variable binaria a proporciones por grupo
cliente['loan_mean'] = cliente.groupby(['job', 'marital', 'education'])['loan'].transform('mean')

# Modelo ANOVA
modelo = ols('loan_mean ~ C(job) + C(marital) + C(education)', data=cliente).fit()
anova_results = anova_lm(modelo)

print(anova_results);

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\4145049378.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['loan_mean'] = cliente.groupby(['job', 'marital', 'education'])['loan'].transform('mean')

                   df     sum_sq   mean_sq            F  PR(>F)
C(job)           11.0  55.252050  5.022914  4363.719413     0.0
C(marital)        2.0  11.911755  5.955878  5174.243697     0.0
C(education)      3.0  11.341311  3.780437  3284.302274     0.0
Residual      26162.0  30.114096  0.001151          NaN     NaN

CONCLUSIONES:
1) Todas las variables categóricas (job, marital, education) tienen un efecto significativo sobre la variable dependiente (loan), dado que los p-valores son <0.05
2) La variable job tiene el mayor impacto en la variabilidad explicada (𝐹=2606.75 y suma de cuadrados más alta: 
33.57).
3) Residual mean_sq = 0.001171. La variabilidad residual es pequeña, lo que indica que el modelo ANOVA ajusta bien los datos.

Teoria:
df: número de categórias
sum_sq (Suma de cuadrados):Representa la variabilidad explicada por la variable correspondiente.
F (Estadístico F): Valores altos de 𝐹 sugieren que la variable tiene un efecto significativo.
PR(>F) (p-valor): Evalúa la significancia estadística del efecto de la variable. Si el p-valor es menor a 
0.05 se considera que la variable tiene un impacto significativo.

## DEPOSIT

In [41]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Convertir variable binaria a proporciones por grupo
cliente['deposit_mean'] = cliente.groupby(['job', 'marital', 'education'])['deposit'].transform('mean')

# Modelo ANOVA
modelo = ols('deposit_mean ~ C(job) + C(marital) + C(education)', data=cliente).fit()
anova_results = anova_lm(modelo)

print(anova_results)

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\2780215874.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['deposit_mean'] = cliente.groupby(['job', 'marital', 'education'])['deposit'].transform('mean')

                   df      sum_sq    mean_sq            F  PR(>F)
C(job)           11.0  218.453866  19.859442  4723.515157     0.0
C(marital)        2.0   39.982468  19.991234  4754.861395     0.0
C(education)      3.0   36.032261  12.010754  2856.725561     0.0
Residual      26162.0  109.994932   0.004204          NaN     NaN

### Modelo de regresión logística para variables binarias (housing, loan, deposit)

In [42]:
import statsmodels.api as sm
import patsy

### HOUSING

In [43]:
# Definir la fórmula para el modelo de regresión logística
formula = 'housing ~ C(job) + C(marital) + C(education) + is_in_default + balance'

# Preparar las variables dependientes (y) e independientes (X)
y, X = patsy.dmatrices(formula, cliente, return_type='dataframe')

# Ajustar el modelo logístico
modelo = sm.Logit(y, X).fit()

# Resumen del modelo
print(modelo.summary())

Optimization terminated successfully.
         Current function value: 0.637253
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                housing   No. Observations:                26179
Model:                          Logit   Df Residuals:                    26160
Method:                           MLE   Df Model:                           18
Date:                Tue, 10 Dec 2024   Pseudo R-squ.:                 0.07848
Time:                        20:17:41   Log-Likelihood:                -16683.
converged:                       True   LL-Null:                       -18103.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     0.3262      0.066      4.916      0.000       0.196       0.456
C(job)[T.blue-collar]         0.5252      0.050     10.408      0.000       0.426       0.624
C(job)[T.entrepreneur]       -0.0827      0.082     -1.003      0.316      -0.244       0.079
C(job)[T.housemaid]          -1.1430      0.098    -11.660      0.000      -1.335      -0.951
C(job)[T.management]         -0.3034      0.053     -5.764      0.000      -0.407      -0.200
C(job)[T.retired]            -1.7785      0.074    -23.901      0.000      -1.924      -1.633
C(job)[T.self-employed]      -0.3893      0.078     -5.001      0.000      -0.542      -0.237
C(job)[T.services]            0.1760      0.057      3.104      0.002       0.065       0.287
C(job)[T.student]            -1.8182      0.107    -16.984      0.000      -2.028      -1.608
C(job)[T.technician]         -0.2298      0.048     -4.803      0.000      -0.324      -0.136
C(job)[T.unemployed]         -0.9045      0.083    -10.906      0.000      -1.067      -0.742
C(job)[T.unknown]            -2.9117      0.346     -8.418      0.000      -3.590      -2.234
C(marital)[T.married]        -0.0556      0.042     -1.313      0.189      -0.139       0.027
C(marital)[T.single]         -0.1921      0.046     -4.191      0.000      -0.282      -0.102
C(education)[T.secondary]     0.0933      0.045      2.051      0.040       0.004       0.182
C(education)[T.tertiary]     -0.2365      0.054     -4.373      0.000      -0.343      -0.131
C(education)[T.unknown]      -0.3547      0.078     -4.548      0.000      -0.508      -0.202
is_in_default                 0.0716      0.105      0.682      0.495      -0.134       0.278
balance                   -4.126e-05   4.94e-06     -8.352      0.000   -5.09e-05   -3.16e-05
=============================================================================================

### LOAN

In [44]:
# Definir la fórmula para el modelo de regresión logística
formula = 'loan ~ C(job) + C(marital) + C(education) + is_in_default + balance'

# Preparar las variables dependientes (y) e independientes (X)
y, X = patsy.dmatrices(formula, cliente, return_type='dataframe')

# Ajustar el modelo logístico
modelo = sm.Logit(y, X).fit()

# Resumen del modelo
print(modelo.summary())

Optimization terminated successfully.
         Current function value: 0.366212
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                   loan   No. Observations:                26179
Model:                          Logit   Df Residuals:                    26160
Method:                           MLE   Df Model:                           18
Date:                Tue, 10 Dec 2024   Pseudo R-squ.:                 0.05553
Time:                        20:17:42   Log-Likelihood:                -9587.1
converged:                       True   LL-Null:                       -10151.
Covariance Type:            nonrobust   LLR p-value:                3.924e-228
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    -1.3034      0.088    -14.826      0.000      -1.476      -1.131
C(job)[T.blue-collar]        -0.0228      0.066     -0.349      0.727      -0.151       0.106
C(job)[T.entrepreneur]        0.3955      0.102      3.859      0.000       0.195       0.596
C(job)[T.housemaid]          -0.8578      0.155     -5.532      0.000      -1.162      -0.554
C(job)[T.management]         -0.2842      0.078     -3.641      0.000      -0.437      -0.131
C(job)[T.retired]            -0.8397      0.103     -8.117      0.000      -1.042      -0.637
C(job)[T.self-employed]      -0.0067      0.109     -0.061      0.951      -0.221       0.208
C(job)[T.services]           -0.0004      0.074     -0.005      0.996      -0.146       0.145
C(job)[T.student]            -3.6032      0.581     -6.198      0.000      -4.743      -2.464
C(job)[T.technician]         -0.2004      0.067     -3.008      0.003      -0.331      -0.070
C(job)[T.unemployed]         -1.1103      0.151     -7.334      0.000      -1.407      -0.814
C(job)[T.unknown]            -1.3070      0.423     -3.091      0.002      -2.136      -0.478
C(marital)[T.married]        -0.1176      0.056     -2.085      0.037      -0.228      -0.007
C(marital)[T.single]         -0.5179      0.064     -8.066      0.000      -0.644      -0.392
C(education)[T.secondary]     0.1491      0.061      2.455      0.014       0.030       0.268
C(education)[T.tertiary]     -0.2701      0.078     -3.457      0.001      -0.423      -0.117
C(education)[T.unknown]      -0.8263      0.140     -5.899      0.000      -1.101      -0.552
is_in_default                 1.1397      0.109     10.409      0.000       0.925       1.354
balance                      -0.0001   1.22e-05    -11.872      0.000      -0.000      -0.000
=============================================================================================

### DEPOSIT

In [45]:
# Definir la fórmula para el modelo de regresión logística
formula = 'deposit ~ C(job) + C(marital) + C(education) + is_in_default + balance'

# Preparar las variables dependientes (y) e independientes (X)
y, X = patsy.dmatrices(formula, cliente, return_type='dataframe')

# Ajustar el modelo logístico
modelo = sm.Logit(y, X).fit()

# Resumen del modelo
print(modelo.summary())

Optimization terminated successfully.
         Current function value: 0.665064
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                deposit   No. Observations:                26179
Model:                          Logit   Df Residuals:                    26160
Method:                           MLE   Df Model:                           18
Date:                Tue, 10 Dec 2024   Pseudo R-squ.:                 0.03835
Time:                        20:17:42   Log-Likelihood:                -17411.
converged:                       True   LL-Null:                       -18105.
Covariance Type:            nonrobust   LLR p-value:                3.625e-284
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    -0.3824      0.065     -5.923      0.000      -0.509      -0.256
C(job)[T.blue-collar]        -0.3179      0.050     -6.410      0.000      -0.415      -0.221
C(job)[T.entrepreneur]       -0.4086      0.085     -4.818      0.000      -0.575      -0.242
C(job)[T.housemaid]          -0.1502      0.092     -1.636      0.102      -0.330       0.030
C(job)[T.management]         -0.1385      0.052     -2.644      0.008      -0.241      -0.036
C(job)[T.retired]             0.8213      0.064     12.909      0.000       0.697       0.946
C(job)[T.self-employed]      -0.2413      0.078     -3.098      0.002      -0.394      -0.089
C(job)[T.services]           -0.2672      0.057     -4.704      0.000      -0.379      -0.156
C(job)[T.student]             0.9549      0.090     10.648      0.000       0.779       1.131
C(job)[T.technician]         -0.1204      0.048     -2.509      0.012      -0.215      -0.026
C(job)[T.unemployed]          0.4128      0.080      5.157      0.000       0.256       0.570
C(job)[T.unknown]          7.974e-05      0.160      0.000      1.000      -0.313       0.313
C(marital)[T.married]        -0.1577      0.041     -3.838      0.000      -0.238      -0.077
C(marital)[T.single]          0.1782      0.045      3.992      0.000       0.091       0.266
C(education)[T.secondary]     0.1905      0.044      4.361      0.000       0.105       0.276
C(education)[T.tertiary]      0.5596      0.052     10.746      0.000       0.457       0.662
C(education)[T.unknown]       0.2551      0.073      3.495      0.000       0.112       0.398
is_in_default                -0.6859      0.113     -6.085      0.000      -0.907      -0.465
balance                    5.103e-05    4.8e-06     10.622      0.000    4.16e-05    6.04e-05
=============================================================================================

In [46]:
# cliente['group_combination'] = cliente['job'] + '|' + cliente['marital'] + '|' + cliente['education']

In [47]:
cliente['housing'] = cliente['housing'].replace({1:'hipoteca'})
cliente['loan'] = cliente['loan'].replace({1:'credito'})
cliente['deposit'] = cliente['deposit'].replace({1:'deposit'})
cliente

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\2221701948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['housing'] = cliente['housing'].replace({1:'hipoteca'})
C:\Users\34622\AppData\Local\Temp\ipykernel_10368\2221701948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['loan'] = cliente['loan'].replace({1:'credito'})
C:\Users\34622\AppData\Local\Temp\ipykernel_10368\2221701948.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['deposit'] = cliente['deposit'].replace({1:'deposit'})

,id,age,job,marital,education,is_in_default,housing,loan,deposit,balance,housing_mean,loan_mean,deposit_mean
0,1,59.0,admin.,married,secondary,0.0,hipoteca,0,deposit,2343,0.554440,0.162934,0.447876
1,2,59.0,admin.,married,secondary,0.0,hipoteca,0,deposit,2343,0.554440,0.162934,0.447876
2,3,56.0,admin.,married,secondary,0.0,0,0,deposit,45,0.554440,0.162934,0.447876
3,4,41.0,technician,married,secondary,0.0,hipoteca,0,deposit,1270,0.509030,0.155184,0.431438
4,5,55.0,services,married,secondary,0.0,hipoteca,0,deposit,2476,0.672199,0.192946,0.342324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26174,26384,60.0,retired,married,primary,0.0,0,0,0,71,0.136461,0.061834,0.620469
26175,26388,47.0,blue-collar,married,secondary,0.0,hipoteca,credito,deposit,802,0.729474,0.198464,0.342587
26176,26389,40.0,admin.,married,secondary,0.0,hipoteca,credito,0,1327,0.554440,0.162934,0.447876
26177,26386,58.0,unemployed,single,tertiary,0.0,0,0,0,2094,0.213675,0.000000,0.709402
26178,26387,42.0,blue-collar,married,primary,0.0,hipoteca,0,0,2003,0.660017,0.179551,0.290108

In [48]:
cliente['housing'] = cliente['housing'].astype(str)
cliente['loan'] = cliente['loan'].astype(str)
cliente['deposit'] = cliente['deposit'].astype(str)

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\318873528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['housing'] = cliente['housing'].astype(str)
C:\Users\34622\AppData\Local\Temp\ipykernel_10368\318873528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['loan'] = cliente['loan'].astype(str)
C:\Users\34622\AppData\Local\Temp\ipykernel_10368\318873528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['deposit'] = cliente['deposit'].astype(str)

In [49]:
cliente['producto'] = cliente['housing'] + '_' + cliente['loan'] + '_' + cliente['deposit']
cliente

C:\Users\34622\AppData\Local\Temp\ipykernel_10368\1490837533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliente['producto'] = cliente['housing'] + '_' + cliente['loan'] + '_' + cliente['deposit']

,id,age,job,marital,education,is_in_default,housing,loan,deposit,balance,housing_mean,loan_mean,deposit_mean,producto
0,1,59.0,admin.,married,secondary,0.0,hipoteca,0,deposit,2343,0.554440,0.162934,0.447876,hipoteca_0_deposit
1,2,59.0,admin.,married,secondary,0.0,hipoteca,0,deposit,2343,0.554440,0.162934,0.447876,hipoteca_0_deposit
2,3,56.0,admin.,married,secondary,0.0,0,0,deposit,45,0.554440,0.162934,0.447876,0_0_deposit
3,4,41.0,technician,married,secondary,0.0,hipoteca,0,deposit,1270,0.509030,0.155184,0.431438,hipoteca_0_deposit
4,5,55.0,services,married,secondary,0.0,hipoteca,0,deposit,2476,0.672199,0.192946,0.342324,hipoteca_0_deposit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26174,26384,60.0,retired,married,primary,0.0,0,0,0,71,0.136461,0.061834,0.620469,0_0_0
26175,26388,47.0,blue-collar,married,secondary,0.0,hipoteca,credito,deposit,802,0.729474,0.198464,0.342587,hipoteca_credito_deposit
26176,26389,40.0,admin.,married,secondary,0.0,hipoteca,credito,0,1327,0.554440,0.162934,0.447876,hipoteca_credito_0
26177,26386,58.0,unemployed,single,tertiary,0.0,0,0,0,2094,0.213675,0.000000,0.709402,0_0_0
26178,26387,42.0,blue-collar,married,primary,0.0,hipoteca,0,0,2003,0.660017,0.179551,0.290108,hipoteca_0_0

In [50]:
cliente_selec = cliente[['id','age', 'job', 'marital', 'education', 'producto', 'is_in_default', 'balance']]
cliente_selec = cliente_selec[cliente_selec['producto'] != '0_0_0']
cliente_selec['producto'] = cliente_selec['producto'].str.replace('0','', regex=False).str.strip('_')
cliente_selec.head(50)

,id,age,job,marital,education,producto,is_in_default,balance
0,1,59.0,admin.,married,secondary,hipoteca__deposit,0.0,2343
1,2,59.0,admin.,married,secondary,hipoteca__deposit,0.0,2343
2,3,56.0,admin.,married,secondary,deposit,0.0,45
3,4,41.0,technician,married,secondary,hipoteca__deposit,0.0,1270
4,5,55.0,services,married,secondary,hipoteca__deposit,0.0,2476
5,6,54.0,admin.,married,tertiary,deposit,0.0,184
6,7,42.0,management,single,tertiary,hipoteca_credito_deposit,0.0,0
7,8,56.0,management,married,tertiary,hipoteca_credito_deposit,0.0,830
8,9,60.0,retired,divorced,secondary,hipoteca__deposit,0.0,545
9,10,37.0,technician,married,secondary,hipoteca__deposit,0.0,1
10,11,28.0,services,single,secondary,hipoteca__deposit,0.0,5090
11,12,38.0,admin.,single,secondary,hipoteca__deposit,0.0,100
12,13,30.0,blue-collar,married,secondary,hipoteca__deposit,0.0,309
13,14,29.0,management,married,tertiary,hipoteca_credito_deposit,0.0,199
14,15,46.0,blue-collar,single,tertiary,hipoteca__deposit,0.0,460
15,16,31.0,technician,single,tertiary,hipoteca__deposit,0.0,703
16,17,35.0,management,divorced,tertiary,hipoteca__deposit,0.0,3837
17,18,32.0,blue-collar,single,primary,hipoteca__deposit,0.0,611
18,19,49.0,services,married,secondary,hipoteca__deposit,0.0,-8
19,20,41.0,admin.,married,secondary,hipoteca__deposit,0.0,55
20,21,49.0,admin.,divorced,secondary,hipoteca_credito_deposit,0.0,168
21,22,28.0,admin.,divorced,secondary,hipoteca__deposit,0.0,785
22,23,43.0,management,single,tertiary,hipoteca__deposit,0.0,2067
23,24,43.0,management,divorced,tertiary,hipoteca__deposit,0.0,388
24,25,43.0,blue-collar,married,primary,hipoteca__deposit,0.0,-192
25,26,37.0,unemployed,single,secondary,hipoteca__deposit,0.0,381
26,27,35.0,blue-collar,single,secondary,hipoteca__deposit,0.0,40
27,28,31.0,technician,single,tertiary,hipoteca__deposit,0.0,22
28,29,43.0,blue-collar,single,secondary,hipoteca__deposit,0.0,3
29,30,31.0,admin.,married,secondary,hipoteca__deposit,0.0,307
30,31,28.0,blue-collar,single,secondary,hipoteca__deposit,0.0,759
31,32,32.0,blue-collar,married,secondary,hipoteca__deposit,1.0,-1
32,33,60.0,technician,married,primary,hipoteca__deposit,0.0,65
33,34,26.0,blue-collar,single,secondary,hipoteca__deposit,0.0,82
34,35,40.0,blue-collar,married,secondary,hipoteca__deposit,0.0,10
35,36,33.0,blue-collar,divorced,primary,hipoteca__deposit,0.0,390
36,37,32.0,management,single,tertiary,deposit,0.0,311
37,38,35.0,blue-collar,married,primary,deposit,0.0,414
38,39,33.0,management,divorced,secondary,hipoteca__deposit,0.0,5
39,40,38.0,management,married,tertiary,hipoteca__deposit,0.0,119
40,41,23.0,entrepreneur,single,primary,hipoteca__deposit,0.0,4
41,42,60.0,blue-collar,married,primary,hipoteca_credito_deposit,0.0,1262
42,43,48.0,management,married,tertiary,hipoteca__deposit,0.0,1949
43,44,45.0,entrepreneur,divorced,tertiary,hipoteca__deposit,0.0,-395
44,45,36.0,blue-collar,married,secondary,hipoteca__deposit,0.0,1165
45,46,52.0,management,married,unknown,hipoteca__deposit,0.0,2240
46,47,35.0,blue-collar,divorced,primary,hipoteca__deposit,0.0,300
47,48,43.0,technician,married,secondary,hipoteca__deposit,0.0,3285
48,49,52.0,housemaid,married,secondary,hipoteca__deposit,0.0,3923
49,50,53.0,technician,divorced,primary,hipoteca__deposit,0.0,1443

In [51]:
cliente_selec['producto'].unique()

array(['hipoteca__deposit', 'deposit', 'hipoteca_credito_deposit',
       'credito_deposit', 'hipoteca', 'hipoteca_credito', 'credito'],
      dtype=object)

### Exporto los datos seleccionados a un archivo csv que voy a cargar en Power BI

In [52]:
cliente_selec.to_csv('cliente.csv', index=False)